
.navbar{
   height: 100px;
   width: 100%;
   background-color: bisque;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.home{
   height: 50px;
   width: 150px;
   color: white;
   background-color: cadetblue;
   font-size: 1.2rem;
   border: 5px solid;
   border-image-slice: 1;
   animation: borderAnimation 3s infinite linear;
}

.notification{
   height: 50px;
   width: 150px;
   color: white;
   background-color: cadetblue;
   font-size: 1.2rem;
   border: 5px solid;;
   border-image-slice: 1;
   animation: borderAnimation 3s infinite linear;
}



h1{
   margin-left:25%;
   margin-right: 25%;
   color: brown;

}

.button{
  display: flex;
  justify-content: center;
  align-items: centers;
}

#start{
   height: 50px;
   width: 150px;
   color: white;
   background-color: darkgoldenrod;
   border-radius: 0.7rem;
   margin-right: 0.8rem;
   font-size: 1.2rem;
}

#stop{
   height: 50px;
   width: 150px;
   color: white;
   background-color: darkgoldenrod;
   border-radius: 0.7rem;
   font-size: 1.2rem;
}

@keyframes borderAnimation {
   0%{
       border-image-source: linear-gradient(0deg,#ff0000,#ff7300);
   }
   25%{
       border-image-source: linear-gradient(90deg,#ff7300,#ffd700);   
   }
   50%{
       border-image-source: linear-gradient(180deg,#ffd700,#00ff00);
   }
   75%{
       border-image-source: linear-gradient(270deg,#00ff00,#007bff);
   }
   100%{
       border-image-source: linear-gradient(360deg,#007bff,#ff0000);
   }
}