*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}


html,body{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.container{
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    height: 80vh;
}

.container h2{
    color: black;
    font-size: xx-large;
}

.amount p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 50;
}

form{
    margin: 2rem 0 1rem 0;
}

form select,button,input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.select-container img{
    font-size: 2rem;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container{
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.select-container select{
  font-size: 1rem;
  width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
    border: 1px solid lightgray;
    display: flex;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    height: 40px;
    align-items: center;
}

form button {
    height: 3rem;
    background-color: #af4d98;
    color: white;
    font-size: 1.3rem;
}

@keyframes borderAnimation {
    0%{
        border-image-source: linear-gradient(0deg,#ff0000,#ff7300);
    }
    25%{
        border-image-source: linear-gradient(90deg,#ff7300,#ffd700);   
    }
    50%{
        border-image-source: linear-gradient(180deg,#ffd700,#00ff00);
    }
    75%{
        border-image-source: linear-gradient(270deg,#00ff00,#007bff);
    }
    100%{
        border-image-source: linear-gradient(360deg,#007bff,#ff0000);
    }
} 

.Animated-border{
    border: 5px solid;;
    border-image-slice: 1;
    animation: borderAnimation 3s infinite linear;
    } 